## 1 Preparación de datos

In [26]:
#importar librerias
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV

In [2]:
#importar el dataset
df = pd.read_csv('/Users/whitneyrios/PYTHON/My projects py/proyecto 12/Rusty-Bargain/dataset/car_data.csv')

In [3]:
#visualizar los datos 
df.head()

,DateCrawled,Price,VehicleType,RegistrationYear,Gearbox,Power,Model,Mileage,RegistrationMonth,FuelType,Brand,NotRepaired,DateCreated,NumberOfPictures,PostalCode,LastSeen
0,24/03/2016 11:52,480,NaN,1993,manual,0,golf,150000,0,petrol,volkswagen,NaN,24/03/2016 00:00,0,70435,07/04/2016 03:16
1,24/03/2016 10:58,18300,coupe,2011,manual,190,NaN,125000,5,gasoline,audi,yes,24/03/2016 00:00,0,66954,07/04/2016 01:46
2,14/03/2016 12:52,9800,suv,2004,auto,163,grand,125000,8,gasoline,jeep,NaN,14/03/2016 00:00,0,90480,05/04/2016 12:47
3,17/03/2016 16:54,1500,small,2001,manual,75,golf,150000,6,petrol,volkswagen,no,17/03/2016 00:00,0,91074,17/03/2016 17:40
4,31/03/2016 17:25,3600,small,2008,manual,69,fabia,90000,7,gasoline,skoda,no,31/03/2016 00:00,0,60437,06/04/2016 10:17

In [4]:
#visualizando la informacion general del df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354369 entries, 0 to 354368
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DateCrawled        354369 non-null  object
 1   Price              354369 non-null  int64
 2   VehicleType        316879 non-null  object
 3   RegistrationYear   354369 non-null  int64
 4   Gearbox            334536 non-null  object
 5   Power              354369 non-null  int64
 6   Model              334664 non-null  object
 7   Mileage            354369 non-null  int64
 8   RegistrationMonth  354369 non-null  int64
 9   FuelType           321474 non-null  object
 10  Brand              354369 non-null  object
 11  NotRepaired        283215 non-null  object
 12  DateCreated        354369 non-null  object
 13  NumberOfPictures   354369 non-null  int64
 14  PostalCode         354369 non-null  int64
 15  LastSeen           354369 non-null  object
dtypes: int64(7), object(9)
memory usage: 43.3+ MB

In [5]:
#viendo la descripcion de los datos 
df.describe()

,Price,RegistrationYear,Power,Mileage,RegistrationMonth,NumberOfPictures,PostalCode
count,354369.000000,354369.000000,354369.000000,354369.000000,354369.000000,354369.0,354369.000000
mean,4416.656776,2004.234448,110.094337,128211.172535,5.714645,0.0,50508.689087
std,4514.158514,90.227958,189.850405,37905.341530,3.726421,0.0,25783.096248
min,0.000000,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.000000
25%,1050.000000,1999.000000,69.000000,125000.000000,3.000000,0.0,30165.000000
50%,2700.000000,2003.000000,105.000000,150000.000000,6.000000,0.0,49413.000000
75%,6400.000000,2008.000000,143.000000,150000.000000,9.000000,0.0,71083.000000
max,20000.000000,9999.000000,20000.000000,150000.000000,12.000000,0.0,99998.000000

In [6]:
#comprobando datos ausentes
df.isna().sum()

DateCrawled              0
Price                    0
VehicleType          37490
RegistrationYear         0
Gearbox              19833
Power                    0
Model                19705
Mileage                  0
RegistrationMonth        0
FuelType             32895
Brand                    0
NotRepaired          71154
DateCreated              0
NumberOfPictures         0
PostalCode               0
LastSeen                 0
dtype: int64

Se encontraron algunos datos ausentes en cinco columnas los cuales eliminaré a continuación.

In [7]:
#eliminando valores ausentes
df = df.dropna().reset_index(drop=True)

In [8]:
#verificando el df luego de la eliminación
df.isna().sum()

DateCrawled          0
Price                0
VehicleType          0
RegistrationYear     0
Gearbox              0
Power                0
Model                0
Mileage              0
RegistrationMonth    0
FuelType             0
Brand                0
NotRepaired          0
DateCreated          0
NumberOfPictures     0
PostalCode           0
LastSeen             0
dtype: int64

In [9]:
#verificando valores duplicados
df.duplicated().sum()

247

Encontré algunos valores duplicados, los cuales eliminaré del dataset.

In [10]:
#eliminar valores duplicados 
df = df.drop_duplicates().reset_index(drop=True)

In [11]:
#verificando eliminación de duplicados
df.duplicated().sum()

0

In [12]:
#verificar el dataset luego de eliminar valores ausentes y duplicados 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245567 entries, 0 to 245566
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DateCrawled        245567 non-null  object
 1   Price              245567 non-null  int64
 2   VehicleType        245567 non-null  object
 3   RegistrationYear   245567 non-null  int64
 4   Gearbox            245567 non-null  object
 5   Power              245567 non-null  int64
 6   Model              245567 non-null  object
 7   Mileage            245567 non-null  int64
 8   RegistrationMonth  245567 non-null  int64
 9   FuelType           245567 non-null  object
 10  Brand              245567 non-null  object
 11  NotRepaired        245567 non-null  object
 12  DateCreated        245567 non-null  object
 13  NumberOfPictures   245567 non-null  int64
 14  PostalCode         245567 non-null  int64
 15  LastSeen           245567 non-null  object
dtypes: int64(7), object(9)
memory usage: 30.0+ MB

## 2 Entrenamiento del modelo

In [13]:
#funcion para escalar caracteristicas numericas 
def scaler(X_train, X_test):
    scaler = StandardScaler()
    scaler.fit(X_train)
    
    X_train_scaled = scaler.transform(X_train)
    X_test_scaled = scaler.transform(X_test)
    
    return X_train_scaled, X_test_scaled

In [14]:
#funcion para separar los conjuntos de datos
def func_train_test_split(X, y, test_size):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=12345)
    
    return X_train, X_test, y_train, y_test

In [37]:
#función para encontrar el rmse
def rmse(y_pred, y):
    mse = mean_squared_error(y_pred, y)
    return mse ** 0.5

### 2.1.1 Modelo de regresión lineal

In [15]:
#Dataframe con columnas numéricas (eliminando columnas innecesarias para prediccion)
data_num_columns = df.drop(['DateCrawled', 'DateCreated', 'LastSeen', 'VehicleType', 'Gearbox', 'Model', 'FuelType', 'Brand', 'NotRepaired'], axis=1)

In [16]:
#visualizar el nuevo dataframe numérico
data_num_columns.head()

,Price,RegistrationYear,Power,Mileage,RegistrationMonth,NumberOfPictures,PostalCode
0,1500,2001,75,150000,6,0,91074
1,3600,2008,69,90000,7,0,60437
2,650,1995,102,150000,10,0,33775
3,2200,2004,109,150000,8,0,67112
4,0,1980,50,40000,7,0,19348

In [17]:
#codificar columnas categóricas del df
data_ohe_columns = pd.get_dummies(df[['VehicleType', 'Gearbox', 'Model', 'FuelType', 'Brand', 'NotRepaired']]).astype('int')
data_ohe_columns.head()

,VehicleType_bus,VehicleType_convertible,VehicleType_coupe,VehicleType_other,VehicleType_sedan,VehicleType_small,VehicleType_suv,VehicleType_wagon,Gearbox_auto,Gearbox_manual,...,Brand_skoda,Brand_smart,Brand_subaru,Brand_suzuki,Brand_toyota,Brand_trabant,Brand_volkswagen,Brand_volvo,NotRepaired_no,NotRepaired_yes
0,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
1,0,0,0,0,0,1,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
2,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
3,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0

In [18]:
#separar las caracteristicas y el objetivo 
X_lr = data_num_columns.drop(['Price'], axis=1)
y_lr = data_num_columns['Price']

In [19]:
#segmentar el df en conjuntos de entrenamiento y prueba 
X_train_lr, X_test_lr, y_train_lr, y_test_lr = func_train_test_split(X_lr, y_lr, 0.30)

In [20]:
#escalar caracteristicas numericas
X_train_scaled, X_test_scaled = scaler(X_train_lr, X_test_lr)

In [21]:
#extraer los nombres de las columns numéricas en el df
columns_num_names = X_lr.columns

#concatenar carateristicas escaladas con caracteristicas codificadas en el conjunto de entrenamiento
X_train_ohe_scaled = pd.concat([pd.DataFrame(X_train_scaled, columns=columns_num_names)] + [data_ohe_columns], axis=1).dropna()

#visualizar df
X_train_ohe_scaled.head()

,RegistrationYear,Power,Mileage,RegistrationMonth,NumberOfPictures,PostalCode,VehicleType_bus,VehicleType_convertible,VehicleType_coupe,VehicleType_other,...,Brand_skoda,Brand_smart,Brand_subaru,Brand_suzuki,Brand_toyota,Brand_trabant,Brand_volkswagen,Brand_volvo,NotRepaired_no,NotRepaired_yes
0,-0.474136,-0.126089,0.610983,0.233403,0.0,0.735215,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1,0.500359,-0.165221,0.610983,1.095058,0.0,0.148639,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0.825191,-0.165221,0.610983,0.233403,0.0,-1.427835,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,-0.961384,-0.295658,0.610983,-0.053816,0.0,1.731266,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
4,-0.961384,-0.393486,0.610983,-1.777127,0.0,-1.727432,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [22]:
#concatenar carateristicas escaladas con caracteristicas codificadas en lel conjunto de prueba
X_test_ohe_scaled = pd.concat([pd.DataFrame(X_test_scaled, columns=columns_num_names)] + [data_ohe_columns], axis=1).dropna()

#visualizar df
X_test_ohe_scaled.head()

,RegistrationYear,Power,Mileage,RegistrationMonth,NumberOfPictures,PostalCode,VehicleType_bus,VehicleType_convertible,VehicleType_coupe,VehicleType_other,...,Brand_skoda,Brand_smart,Brand_subaru,Brand_suzuki,Brand_toyota,Brand_trabant,Brand_volkswagen,Brand_volvo,NotRepaired_no,NotRepaired_yes
0,0.500359,-0.100002,0.610983,-0.053816,0.0,0.897766,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1,1.312439,0.128264,0.610983,0.807840,0.0,1.426444,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0.500359,-0.165221,0.610983,-0.628253,0.0,0.147632,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,-1.935879,0.350007,0.610983,-1.489909,0.0,0.578857,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0.825191,0.500010,0.610983,1.669495,0.0,0.302907,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [27]:
#entrenar un modelo de regresión lineal 
model_lr = LinearRegression()
model_lr.fit(X_train_ohe_scaled, y_train_lr)

LinearRegression()

In [36]:
#encontrar el valor rmse en regresion lineal
predicted_test_lr = model_lr.predict(X_test_ohe_scaled)

model_lr_rmse = rmse(predicted_test_lr, y_test_lr)

model_lr_rmse

3661.7691135243103

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

encoder = OrdinalEncoder()

### Potenciación del gradiente con regresión lineal

### Modelo de bosque aleatorio de regresión

In [15]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
#bosque aleatorio

### Modelo de árbol de decisión de regresión